@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 800px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/back1.jpg');
}

.wrapper__header {
    width: 100%;
    height: auto;
    @include flex();
    flex-direction: row;
    border: 1px solid red;
}


.logo__header {
    width: 50%;
    height: auto;
    border: 1px solid green;
}

.logo__header img {
    width: 240px;
    cursor: pointer;
    height: auto;
}

.links__header {
    width: 50%;
    height: auto;
    border: 1px solid blue;

    @include flex();
    justify-content: flex-end;
}

.links__header a {
    font-size: 30px;
    text-decoration: none;
    color: white;

    margin: 20px;

    &:hover {
        text-decoration: underline;
    }
}

.main-logo {
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: flex-end;

    border: 1px solid red;
}

.main-logo img {
    width: 700px;
    height: auto;
}


@media screen and (max-width: 750px) {
    .wrapper__header {
        flex-direction: column;
    }

    .logo__header {
        width: 100%;
        @include flex();
    }

    .links__header {
        width: 100%;
        justify-content: center;
    }

    .links__header a {
        font-size: 20px;
    }

    .main-logo {
        justify-content: center;
        height: 500px;
    }

    .main-logo img {
        width: 500px;
    }
}