@font-face {
  font-family: "BebasNeue";
  src: url("./BebasNeue-Regular.ttf");
}
header {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/back1.jpg");
}

.wrapper__header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid red;
}

.logo__header {
  width: 50%;
  height: auto;
  border: 1px solid green;
}

.logo__header img {
  width: 240px;
  cursor: pointer;
  height: auto;
}

.links__header {
  width: 50%;
  height: auto;
  padding: 20px;
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.links__header a {
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin: 20px;
}
.links__header a:hover {
  color: rgb(229, 183, 99);
  cursor: pointer;
}

.main-logo {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid red;
}

.main-logo img {
  width: 700px;
  height: auto;
}

@media screen and (max-width: 750px) {
  .wrapper__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo__header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .links__header {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .links__header a {
    font-size: 20px;
  }
  .main-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 500px;
  }
  .main-logo img {
    width: 500px;
  }
}
main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px solid red;
}

.container__h1 {
  color: rgb(229, 183, 99);
  font-size: 80px;
}

.container__p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  letter-spacing: 1.1px;
  color: white;
}

.container__main {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid red;
}

.container__img {
  width: 80px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
  margin: 80px;
  border: 1px solid green;
}

.name {
  position: absolute;
  font-size: 50px;
  color: white;
}

.container__main i img {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.beast-container {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 10%;
  background-image: url("../assets/back2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.beast__section {
  border: 1px solid green;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.beast__section h1 {
  color: white;
  font-size: 70px;
}

.beast__section p {
  font-size: 1.3rem;
  width: 1200px;
  line-height: 30px;
  letter-spacing: 1.1px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.beast__section button {
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 1.8rem;
  background-color: rgb(229, 183, 99);
  border: none;
  border-radius: 5px;
  letter-spacing: 1.1px;
}
.beast__section button:hover {
  background-color: rgb(196, 158, 86);
  color: white;
}
.beast__section button:active {
  background-color: rgb(161, 130, 72);
}

.programs-container {
  width: 100%;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.programs-container .program-title-container h1 {
  font-size: 80px;
  color: rgb(229, 183, 99);
}
.programs-container .program-title-container p {
  font-size: 1.3rem;
  line-height: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.program-title-container {
  width: 100%;
  height: auto;
  text-align: center;
}

.programs-wrapper {
  width: auto;
  height: auto;
  border: 1px solid yellow;
  padding: 10px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.programs__img-container {
  text-align: left;
  border-radius: 5px;
  margin-bottom: 25px;
  height: 300px;
  width: 200px;
}

.programs__img-container img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.programs__h1 {
  font-size: 2rem;
  color: rgb(229, 183, 99);
}

.form-wrapper {
  width: 100%;
  height: 800px;
  margin-top: 5%;
  text-align: center;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../assets/back3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wrapper h1 {
  font-size: 80px;
  color: rgb(229, 183, 99);
}

.form {
  padding: 20px;
  width: 600px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.1px;
}

input {
  background: none;
  outline: none;
  height: 40px;
  color: rgb(215, 215, 215);
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid rgb(230, 230, 230);
}

textarea {
  max-width: 100%;
  max-height: 400px;
  padding: 10px;
  outline: none;
  background: none;
  color: white;
  border: 1px solid rgb(230, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.1px;
  font-size: 1.3rem;
}

.form button {
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(229, 183, 99);
  border: none;
  border-radius: 5px;
  letter-spacing: 1.1px;
}
.form button:hover {
  background-color: rgb(196, 158, 86);
  color: white;
}
.form button:active {
  background-color: rgb(161, 130, 72);
}

.footer {
  height: 200px;
  background-color: rgb(60, 78, 93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-img {
  width: 200px;
  height: auto;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-img img {
  margin-right: 10px;
}

.footer-img a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  color: white;
}
.footer-img a:hover {
  color: rgb(229, 183, 99);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "BebasNeue";
}

body {
  background-color: rgb(30, 43, 54);
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 15px;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}/*# sourceMappingURL=App.css.map */